.bnt{
	font-family: arial;
	font-size:14px;
	text-transform: uppercase;
	font-weight:700;
	border:none;
	padding:10px;
	cursor: pointer;
	display:inline-block;
	text-decoration: none;
}
.btn-preto{
	background:black;
	color:#fff;
	box-shado:0 5px 0 #FFFAFA;
}
.btn-preto:houver{
	background:black;
	color:#fff;
	box-shado:0 7px 0 #4F4F4F;
}
.btn-preto:active{
	position:relative;
	top:5px;
	box-shadow:none;
}
